:root {
  --card-width: 480px;
}
*{
  box-sizing: border-box;
}
.services-section {
  position: relative;
  background: #111;
}

.scroll-container {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.sticky-wrapper {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  overflow-x: hidden;
  border-radius: 20px;
}

.services-title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.services-track {
  display: flex;
  gap: 5rem;
  height: 500px;
  padding: 2rem;
  width: max-content;
  padding-right: calc(var(--card-width) + 2rem);
}







/* This creates fake vertical space to enable horizontal scrolling */
.services-section::after {
  content: "";
  display: block;

    /* card width * (card count - 1) */
  /* height: calc(100vh + 480px * 5);  */

}

.next-section {
  height: 100vh;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



.outer {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  position: relative;
}




.card {
  z-index: 1;
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  color: #fff;
  padding: 1rem;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.card .text{
display: flex;
flex-direction: column;
justify-content: flex-end;
/* background-color: #42026c; */

}

.card .icon {
  font-size: 2.5rem;
  color: #ffb84d;
  margin-bottom: 3.5rem;
}
.lottie-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 1.2rem;
  /* margin-top: 1rem; */
}


.card .title {
  font-weight: bolder;
  font-size: 2.5rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background: linear-gradient(45deg, #1a0a00 5%, #ffaa33 50%, #1a0a00 95%);
  background: linear-gradient(45deg, #42026c 5%, #ad49ff 50%, #480273 95%);


  background-clip: text;
  color: transparent;
  
 
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background: linear-gradient(45deg, #e57f12 5%, #955700 50%, #1a0a00 95%);
  
}
.topl {
  top: 7%;
  right:0%;
  width: 100%;;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
  background: linear-gradient(45deg, #3c3c3c 5%, #bb7d11 50%, #ff9900  95%);
  /* animation: card-line-glow-hori 10s  linear infinite; */
  width: 0;
}
.bottoml {
  bottom: 10%;
  left:0;
  /* animation: card-line-glow-hori 10s  linear infinite; */
  width:0%
}
.leftl {
  left: 10%;
  bottom:0%;
  width: 1px;
  height: 30%;
 
  background: linear-gradient(45deg, #ff9900 5%, #a46101 50%, #1a0a00 95%);
  /* animation: card-line-glow-left 10s  linear infinite; */
  height: 0%;
}
.rightl {
  right: 10%;
  top:0%;
  width: 1px;
  height: 40%;
  background: linear-gradient(to bottom , #ff9900 5%, #a46101 50%, #1a0a00 95%);
  /* animation: card-line-glow-right 10s linear infinite; */
  height: 0;
}

@keyframes card-line-glow-hori {

  0%,100%{
    width:0;
    opacity: 0;
  }
  50%{
    width:100%;
    opacity: 1;
  }
  
}

@keyframes card-line-glow-left {

  0%,100%{
    height:0;
    opacity:0;
  }
  50%{
    height:25%;
    opacity: 1;
  }
  
}

@keyframes card-line-glow-right {

  0%,100%{
    height:0;
    opacity:0;
  }
  50%{
    height:70%;
    opacity: 1;
  }
  
}



@media only screen and (max-width:1400px){
  .sticky-wrapper {
   width:100%;
}
}

@media only screen and (max-width:550px){
  .outer{
    width:300px;
    height:400px;

  }
  .outer .card{
   padding: .8rem;
  }
  .lottie-icon {
  width: 150px;
  height: 150px;
  transform: translateY(3rem);
  margin-bottom: 1.2rem;
 
}
.card .title{
  font-size: 2rem;
}

}

@media only screen and (max-width:350px){
  .outer{
    width:250px;
    height:350px;

  }
}